.mapContext {
	pointer-events: all;
	position:fixed;
	background-color: rgba(0, 0, 0, 0.521);
	border-radius: 1rem;
	padding: 1rem;
	z-index: 11;
	display: flex;
	flex-direction: column;
}

.addMapNodeButton{
	cursor: pointer;
	background-color: rgba(61, 61, 61, 0.514);
	border-radius: 0.6rem;
	padding: 0.4rem;
}

.addMapNodeButton > *{
	pointer-events: none;
	min-width: 3rem;
	min-height: 3rem;
	pointer-events: none;
}

.mapContextHeader {
	display: flex;
}

.mapContextHeader > *:last-child {
	margin-left: auto;
	cursor: pointer;
}