@import '../forms/forms.css';

.nodeForm {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 100%;
	padding-right: 1rem;
}


.sizeTypeAlignment {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: row;
}

.nodeInfoButtonBar {
	display: flex;
}

.nodeInfoButton {
	margin: 0.2em;
	padding: 0.3em;
}

.nodeInfoButton.rightAlign {
	margin-right: 1rem;
	margin-left: auto;
}

.nodeInfoButton.selected {
	background-color: rgb(59, 82, 24);
}

.deleteButton {
	cursor: pointer;
	border: 0;
	background-color: red;
	border-radius: 5px;
	margin: 1rem;
	padding: 0.3rem;
	color: white;
	font-weight: bold;
}
