.nodeForm {
	margin: 1em;
}

.nodePanel {
	padding: 1.0em;
	margin-top: 0.3rem;
	background-color: rgba(100, 100, 100, 0.267);
}

.sizeTypeAlignment {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: row;
}

.nodeInfoButton {
	margin: 0.2em;
	padding: 0.3em;
}

.nodeInfoButton.selected {
	background-color: rgb(59, 82, 24);
}
