@if (node == null || nodeForm == null) {
	<p>No node?</p>
} @else {
	<div [formGroup]="nodeForm" class="nodeForm">
		<img
			src="/icons/character_icon.png"
			[class]="isCreature() ? 'nodeInfoButton selected' : 'nodeInfoButton'"
			(click)="setIsCreature(!isCreature())"
		/>
		<img
			src="/icons/location_icon.png"
			[class]="isLocation() ? 'nodeInfoButton selected' : 'nodeInfoButton'"
			(click)="setIsLocation(!isLocation())"
		/>
		<app-portraiticon-form-component
			controlName="mapIconPath"
			controlNameSize="mapIconSize"
			[formGroup]="nodeForm"
			[node]="node()"
			(onChange)="onControlSubmit()"
			formId="mapIconForm"
		/>
		<app-name-form-component
			label="Name"
			controlName="name"
			[formGroup]="nodeForm!"
			(onChange)="onControlSubmit()"
			formId="nameForm"
		/>
		@if (isCreature()) {
			<div class="sizeTypeAlignment">
				<app-string-selector
					label=""
					controlName="size"
					[formGroup]="getSubFormGroup('creatureInfo')"
					[options]="gmNodeOptions.sizes"
					[selected]="node().creatureInfo!.size"
					(onChange)="onControlSubmit()"
					formId="creatureSizeForm"
				/>
				<app-string-selector
					label=""
					controlName="creatureType"
					[formGroup]="getSubFormGroup('creatureInfo')"
					[options]="gmNodeOptions.creatureTypes"
					[selected]="node().creatureInfo!.creatureType"
					(onChange)="onControlSubmit()"
					formId="creatureTypeForm"
				/>
				<app-string-selector
					label=""
					controlName="alignment"
					[formGroup]="getSubFormGroup('creatureInfo')"
					[options]="gmNodeOptions.alignments"
					[selected]="node().creatureInfo!.alignment"
					(onChange)="onControlSubmit()"
					formId="creatureAlignmentForm"
				/>
			</div>
		}
		<app-multiline-form-component
			label="Description"
			controlName="description"
			[formGroup]="nodeForm!"
			(onChange)="onControlSubmit()"
			formId="descriptionForm"
		/>
		@if (isCreature()) {
			<app-stats-form
				[formGroup]="getSubFormGroup('creatureInfo')"
				controlName="statsForm"
				(onChange)="onControlSubmit()"
				formId="statsForm"
			/>
			<app-movement-form
				[formGroup]="getSubFormGroup('creatureInfo')"
				controlName="movementForm"
				(onChange)="onControlSubmit()"
				formId="movementForm"
			/>
			<app-multi-string-selector
				controlName="damageImmunities"
				[formGroup]="getSubFormGroup('creatureInfo')"
				label="Damage Immunities"
				[options]="gmNodeOptions.damageTypes"
				(onChange)="onControlSubmit()"
				formId="damageImmunitiesForm"
			/>
			<app-multi-string-selector
				controlName="damageResistances"
				[formGroup]="getSubFormGroup('creatureInfo')"
				label="Damage Resistances"
				[options]="gmNodeOptions.damageTypes"
				(onChange)="onControlSubmit()"
				formId="damageResistancesForm"
			/>
			<app-multi-string-selector
				controlName="damageVulnerabilities"
				[formGroup]="getSubFormGroup('creatureInfo')"
				label="Damage Vulnerabilities"
				[options]="gmNodeOptions.damageTypes"
				(onChange)="onControlSubmit()"
				formId="damageVulnerabilitiesForm"
			/>
			<app-multi-string-selector
				controlName="conditionImmunities"
				[formGroup]="getSubFormGroup('creatureInfo')"
				label="Condition Immunities"
				[options]="gmNodeOptions.conditions"
				(onChange)="onControlSubmit()"
				formId="conditionImmunitiesForm"
			/>
			<div class="nodePanel">
				<app-node-form-array
					#skillsForm
					class="skillsForm"
					[formArray]="getFormArray(getSubFormGroup('creatureInfo'), 'skills')"
					[defaultControls]="defaultSkill"
					label="Skills"
					(onChange)="onControlSubmit()"
				>
					@for (
						formGroup of getFormArrayGroups(getSubFormGroup('creatureInfo'), 'skills');
						track formGroup
					) {
						<app-skill-form
							controlName=""
							[formGroup]="formGroup"
							formId="skillsForm"
							(onChange)="onControlSubmit()"
							(onRemove)="skillsForm.removeEntry(formGroup)"
						/>
					}
				</app-node-form-array>
			</div>
			<div class="nodePanel">
				<app-node-form-array
					#actionsForm
					class="actionsForm"
					[formArray]="getFormArray(getSubFormGroup('creatureInfo'), 'actions')"
					[defaultControls]="defaultAction"
					label="Actions"
					(onChange)="onControlSubmit()"
				>
					@for (
						formGroup of getFormArrayGroups(getSubFormGroup('creatureInfo'), 'actions');
						track formGroup
					) {
						<app-action-form
							controlName="name"
							[formGroup]="formGroup"
							(onChange)="onControlSubmit()"
							(onRemove)="actionsForm.removeEntry(formGroup)"
							formId="actionsForm"
						/>
					}
				</app-node-form-array>
			</div>
		}
	</div>
}
