<div class="CreateCampaign">
	@if (submitting()) {
		<p>Submitting Campaign...</p>
	} @else {
		<div class="CreateCampaignForm" [formGroup]="createCampaignForm">
			<app-name-form-component
				label="Name"
				controlName="name"
				[formGroup]="createCampaignForm"
				formId="campaignName"
				[alwaysEdit]="true"
			/>
			@if (name?.invalid && (name?.dirty || name?.touched)) {
				<div class="formAlert">Name is required.</div>
			}
			<app-multiline-form-component
				label="Description"
				controlName="description"
				[formGroup]="createCampaignForm"
				formId="campaignDescription"
				[alwaysEdit]="true"
				[cols]="50"
			/>
			<app-imagelink-form-component
				label="Campaign Image"
				controlName="imageLink"
				[formGroup]="createCampaignForm"
			/>
			<form [formGroup]="createCampaignForm" (submit)="onSubmit()">
				<input type="submit" value="Submit" [disabled]="!submittable" />
				<button (click)="abort()">Abort</button>
			</form>
		</div>
	}
</div>
