@import '../../app.css';

@keyframes slideInRight {
	from {
		right: -30rem;
	}
	to {
		right: 0rem;
	}
}
@keyframes slideInLeft {
	from {
		left: -30rem;
	}
	to {
		left: 0rem;
	}
}

.sidebar {
	z-index: 5;
	position: absolute;
	overflow-y: hidden;
	top: 0px;
	bottom: 0px;
	width: 512px;
	background-color: rgba(0, 0, 0, 0.822);
	backdrop-filter: blur(10px);
	padding: 1rem;
	padding-top: 5em;
}

.sidebarLeft {
	animation: slideInLeft;
	animation-duration: 0.5s;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	left: 0px;
	padding-right: 14px;
}

.sidebarRight {
	animation: slideInRight;
	animation-duration: 0.5s;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	right: 0px;
	padding-left: 14px;
}

.sidebarHandle {
	position: absolute;
	overflow-y: hidden;
	top: 0px;
	bottom: 0px;
	width: 4px;
	background-color: rgba(245, 245, 220, 0.137);
	cursor: ew-resize;
}

.sidebarHandleLeft {
	left: 0px;
}

.sidebarHandleRight {
	right: 0px;
}
