<div class="createAccountPage">
	@if (creatingAccount()) {
		<div class="creatingAccountForm">Creating Account...</div>
	} @else {
		<form
			class="createAccountForm"
			[formGroup]="createAccountForm"
			(ngSubmit)="onCreateAccountSubmit()"
		>
			<label for="email">Email:</label>
			<div class="inputContainer">
				<input type="email" formControlName="email" id="createAccountEmail" />
				@if (createAccountForm.get('email')?.pending) {
					<img class="inlineLoadingIcon" src="/icons/loading_icon.png" />
				}
			</div>
			<div class="spacer"></div>
			@if (createAccountForm.get('email')?.invalid && createAccountForm.get('email')?.dirty) {
				@if (createAccountForm.get('email')!.hasError('required')) {
					<div class="errorMsg">Email required.</div>
				}
				@if (createAccountForm.get('email')!.hasError('uniqueEmail')) {
					<div class="errorMsg">Email already in use.</div>
				}
			}
			<div class="spacer"></div>
			<label for="createAccountPassword">Password:</label>
			<input type="password" formControlName="password" id="createAccountPassword" />
			<div class="spacer"></div>
			<app-password-validation-messages [passwordControl]="getPasswordControl()" />
			<label for="createAccountPasswordRep">Repeat Password:</label>
			<input type="password" formControlName="passwordRep" name="createAccountPasswordRep" />
			<div class="spacer"></div>
			@if (createAccountForm.hasError('passwordMatchError')) {
				<div class="errorMsg">Passwords must match!</div>
			}
			<button
				type="submit"
				[disabled]="!createAccountForm.valid && !createAccountForm.pending"
			>
				Create Account
			</button>
		</form>
	}
</div>
