@import '../forms/forms.css';

.createAccountPage {
	display: flex;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	align-content: center;
	justify-content: center;
}

.createAccountForm {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.inputContainer {
	display: flex;
	align-items: center;
}