@import '../app.css';

.mapButtonParent {
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-self: center;
}

.mapSelection {
	height: 100%;
	backdrop-filter: blur(2rem) brightness(0.5);
	display: flex;
	justify-content: center;
}

.mapSelectionBackground {
	background-size: cover;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
