@import '../forms/forms.css';

.loginPage {
	left:0%;
	top: 0%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position:fixed;
	background-image: url('/BGMap_blurred.jpg');
	width: 100%;
	height: 100%;
}

.thirdPartyLogins{
	margin: 2rem;
}

.loginForm {
	display: flex;
	padding: 2rem;
	flex-direction: column;
	background-color: rgba(37, 37, 37, 0.295);
}
