@import '../app.css';



textarea {
	width: 100%;
}

input {
	max-width: 100%;
	width: 25em;
}

.iconButton {
	opacity: 50%;
	cursor: pointer;
	align-self: top;
	width: 1.5rem;
	height: 1.5rem;
	margin-left: auto;
}