@import '../app.css';

.nodePanel {
	padding: 1em;
	margin-top: 0.3rem;
	background-color: rgba(100, 100, 100, 0.267);
}

textarea {
	width: 100%;
}

input {
	max-width: 100%;
	width: 25em;
}

.iconButton {
	opacity: 50%;
	cursor: pointer;
	align-self: top;
	width: 1.5rem;
	height: 1.5rem;
	margin-left: auto;
}

.formInput {
	background-color: rgba(235, 235, 235, 0.158);
	border: 0;
	color: white;
}

.tagDisplay {
	background-color: rgb(51, 51, 65);
	padding: 0.3rem;
	display: flex;
	flex-direction: row;
	margin: 0.2rem;
}
.tagsContainer{
	display: flex;
	flex-wrap: wrap;
	max-width: 100%;
	flex-direction: row;
	align-content: center;
}

.spacer {
	min-height: 1em;
}

.errorMsg {
	color: rgb(255, 112, 112);
}

