@if (passwordControl().dirty && !passwordControl().valid) {
	@if (passwordControl().hasError('minlength')) {
		<div class="errorMsg">Password must be 6 digits or more.</div>
	}
	@if (passwordControl().hasError('patternMatch')) {
		<div class="errorMsg">Password must include:</div>
		<ul class="errorMsg">
			@if (passwordControl().hasError('noUpperCase')) {
				<li>uppercase letter</li>
			}
			@if (passwordControl().hasError('noLowerCase')) {
				<li>lowercase letter</li>
			}
			@if (passwordControl().hasError('noNumber')) {
				<li>number</li>
			}
			@if (passwordControl().hasError('noSpecial')) {
				<li>special symbol (except : and ;)</li>
			}
		</ul>
	}
}
