<app-sidebar [isLeftSide]="true">
	<ul class="nodeList">
		<app-node-filter (onSettingsChanged)="setActiveFilter($event)"/>
		@for (gmNode of filteredNodes(); track gmNode) {
			<app-node-icon [node]="gmNode" />
		}
		<img src="/icons/add_icon.png" class="addButton" (click)="createNewNode()" />
	</ul>
</app-sidebar>
@if (selectedNode() != null) {
	<app-sidebar [isLeftSide]="false">
		<app-node-view [node]="selectedNode()!"></app-node-view>
	</app-sidebar>
}
<app-dragged-node [node]="draggedNode()" />
<app-map-background />
