

@keyframes bigButtonFade {
	from {
		opacity: 0%;
		transform: translate(0, 10rem);
	}
	to {
		opacity: 100%;
		transform: translate(0px, 0px);
	}
}

.bigButton {
	z-index: 0;
	box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.623);
	border-radius: 1rem;
	position: relative;
	background-size: cover;
	background-position: 50%;
	overflow: hidden;
	width: 14em;
	height: 20em;
	padding: 1em;
	margin: 2em;
	list-style-type: none;
	cursor: pointer;
	animation: bigButtonFade;
	animation-duration: 0.8s;
}


.bigButtonFill {
	z-index: -1;
	pointer-events: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	backdrop-filter: blur(2px);
	background-color: rgba(0, 0, 0, 0.534);
}

.bigButtonContent {
	position: static;
	z-index: 2;
}


.subButtonContainer {
	position: absolute;
	bottom: 0%;
	right: 0%;
	margin: 0.2em;
}

.subButton {
	background-color: rgba(0, 0, 0, 0.712);
	border: 0px;
	margin: 0.4em;
	padding:1em;
	cursor: pointer;
	border-radius: 0.3rem;
}

