
.bigButton {
	z-index: 0;
	position: relative;
	background-size: cover;
	background-position: 50%;
	width: 14em;
	height: 20em;
	padding: 1em;
	margin: 2em;
	list-style-type: none;
	cursor: pointer;
}


.bigButtonFill {
	z-index: -1;
	pointer-events: none;
	position: absolute;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	backdrop-filter: blur(2px);
	background-color: rgba(0, 0, 0, 0.534);
}


.subButtonContainer {
	position: absolute;
	bottom: 0%;
	right: 0%;
	margin: 0.2em;
}

.subButton {
	background-color: rgba(0, 0, 0, 0.712);
	border: 0px;
	margin: 0.4em;
	padding:1em;
	cursor: pointer;
}

