<main class="main">
	<div (mousemove)="onMouseMove($event)" (mouseup)="onMouseUp($event)">
		<nav>
			@if (user() != null) {
				<p class="userDisplay">Logged in as: {{ user()!.name }}</p>
			} @else {
				<p></p>
			}
			<div class="navButtonContainer">
				<a
					routerLink="/campaignselection"
					routerLinkActive="active"
					[class]="getNavButtonState()"
					ariaCurrentWhenActive="page"
				>
					Select Campaign
				</a>
				<a
					routerLink="/mapselection"
					routerLinkActive="active"
					[class]="getNavButtonState()"
					ariaCurrentWhenActive="page"
				>
					Select Map
				</a>
				<a
					routerLink="/map"
					routerLinkActive="active"
					[class]="getNavButtonState()"
					ariaCurrentWhenActive="page"
				>
					Map
				</a>
				@if (loggedIn()) {
					<button (click)="logout()" class="navButton">Log Out</button>
				} @else {
					<a
						routerLink="/login"
						routerLinkActive="active"
						ariaCurrentWhenActive="page"
						class="navElement loginElement"
					>
						Login
					</a>
				}
			</div>
			<div class="versionString">
				{{ versionService.getVersionString() }}
			</div>
		</nav>
		<div class="content">
			<router-outlet />
		</div>
	</div>
</main>
