

nav {
	z-index: 100;
	display: grid;
	column-gap: 3em;
	grid-template-columns: 1fr 2fr 1fr;
	justify-content: center;
	position: sticky;
	background-color: rgb(39, 39, 39);
}

.navButtonContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	width: 100%;
}

nav .userDisplay {
	margin: 1em;
	width: 100%;
}

.formAlert {
	color: red;
}

.navElement {
	padding: 1em;
	color: White;
	text-decoration: none;

}

.navButton {
	margin-left: 3em;
}

.navElement.active {
	background-color: cyan;
	color: black;
}

.navElement.linkDisabled {
	color: rgba(158, 158, 158, 0.425);
	pointer-events: none;
	cursor: default;
}

.loginElement {
	margin-left: 3em
}

.addButtonBig {
	align-self: center;
	display: flex;
	align-content: center;
	background-color: rgb(21, 37, 36);
	width: 4em;
	height: 4em;
	cursor: pointer;
	padding: 1em;
	margin: 2em;
	margin-left: 4rem;
	list-style-type: none;
	border-radius: 0.5rem;
	box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.616);
	
}


.content {
	padding: 5em;
}

.versionString {
	opacity: 25%;
	align-self: center;
	margin-left: auto;
	margin-right: 2rem;
}