

nav {
	z-index: 100;
	display: grid;
	column-gap: 3em;
	grid-template-columns: 1fr 2fr 1fr;
	justify-content: center;
	position: sticky;
	background-color: rgb(39, 39, 39);
}

.nav-buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

nav .user-display {
	margin: 1em;
	width: 100%;
}

.formAlert {
	color: red;
}

.nav-buttons .navElement {
	padding: 1em;
	color: White;
	text-decoration: none;

}

.nav-buttons .navButton {
	margin-left: 3em;
}

.nav-buttons .active {
	background-color: cyan;
	color: black;
}

.nav-buttons .disabled-link {
	color: rgba(158, 158, 158, 0.425);
	pointer-events: none;
	cursor: default;
}

.nav-buttons .loginElement {
	margin-left: 3em
}

.addButtonBig {
	align-self: center;
	display: flex;
	align-content: center;
	background-color: grey;
	width: 4em;
	height: 4em;
	cursor: pointer;
	padding: 1em;
	margin: 2em;
	list-style-type: none;
	
}


.content {
	padding: 5em;
}