<div class="filterPanel" (click)="filterVisible.set(true)">
	<img
		src="/icons/filter_icon.png"
		[class]="filterActive() ? 'filterButton active' : 'filterButton'"
		(click)="clickedFilterIcon($event)"
	/>
	@if (filterVisible()) {
		<img class="filterButton" src="/icons/arrow_down.png" (click)="toggleFilterViewOff($event)" />
		<div class="filterContainer">
			<input class="formInput" type="text" (input)="setFilterString($event.target.value)" />
			<div class="filterButtons">
				<img
					src="/icons/creature_icon.png"
					[class]="
						filterSettings.filterByCreatures ? 'filterButton active' : 'filterButton'
					"
					(click)="toggleFilterByCreatures()"
				/>
				<img
					src="/icons/location_icon.png"
					class="filterButton"
					[class]="
						filterSettings.filterByLocations ? 'filterButton active' : 'filterButton'
					"
					(click)="toggleFilterByLocations()"
				/>
				<img
					src="/icons/map_icon.png"
					class="filterButton"
					[class]="
						filterSettings.filterByMapNodes ? 'filterButton active' : 'filterButton'
					"
					(click)="toggleFilterByMapNodes()"
				/>
			</div>
			<div class="tagsContainer">
				@for (tag of possibleTags(); track tag) {
					<div
						[class]="
							filterSettings.filterByTags.has(tag)
								? 'tagDisplay active'
								: 'tagDisplay'
						"
						(click)="toggleTag(tag)"
					>
						{{ tag }}
					</div>
				}
			</div>
		</div>
	} @else {
		<img class="filterButton" src="/icons/arrow_right.png" (click)="filterVisible.set(true)" />
	}
</div>
