@if (editMode() || selectedStrings().size > 0) {
	<div class="multiStringSelector nodePanel">
		<div class="multiStringHeader">
			@if (label() != '') {
				<div class="multiStringLabel">{{ label() }}:</div>
			} @else {
				<div class="multiStringLabel"></div>
			}
		</div>
		<div class="multiLineContainer">
			@if (editMode()) {
				@for (option of options(); track option) {
					<button [class]="getOptionButtonClass(option)" (click)="toggleOption(option)">
						{{ option }}
					</button>
				}
			} @else {
				@for (selected of selectedStrings(); track selected) {
					<div class="multiStringDisplay">{{ selected }}</div>
				}
			}
		</div>
	</div>
}
