<div class="movementForm nodePanel" [formGroup]="formGroup()">
	<div class="movementEntry">
		<img src="/icons/walk_icon.png"/>
		@if (editMode()) {
			<input type="text" class="speedInput formInput" formControlName="speed" (blur)="onChange.emit()"/>
		} @else {
			<div class="speedDisplay">
				{{ formGroup().get('speed')?.value }}
			</div>
		}
	</div>
	<div class="movementEntry">
		@if (editMode() || showSwimming()) {
			<img src="/icons/swim_icon.png"/>
			@if (editMode()) {
				<input type="text" class="speedInput formInput" formControlName="speedSwimming" (blur)="onChange.emit()"/>
			} @else {
				<div class="speedDisplay">
					{{ formGroup().get('speedSwimming')?.value }}
				</div>
			}
		}
	</div>
	<div class="movementEntry">
		@if (editMode() || showFlying()) {
			<img src="/icons/fly_icon.png"/>
			@if (editMode()) {
				<input type="text" class="speedInput formInput" formControlName="speedFlying" (blur)="onChange.emit()"/>
			} @else {
				<div class="speedDisplay">
					{{ formGroup().get('speedFlying')?.value }}
				</div>
			}
		}
	</div>
</div>
