@import '../../node-view/node-view.css';

.movementForm {
	display: flex;
}

.speedInput {
	align-self: center;
	margin-left: 0.2rem;
	margin-right: 2.5rem;
	min-width: 2rem;
	max-width: 2rem;
	text-align: center;
	border: 0rem;
	padding-left: 0px;
	padding-right: 0px;
}

.speedDisplay {

	text-align: center;
	align-self: center;
	margin-left: 0.2rem;
	margin-right: 2.5rem;
	min-width: 2rem;
	max-width: 2rem;
}
