.mapBackgroundContainer {
	position: fixed;
	top: 10%;
	left: 10%;
	bottom: 10%;
	right: 10%;
	background-color: aqua;
	clip-path: fill-box;
}


.zoomPivotOffset {
	pointer-events: none;
	min-height: 100%;
	min-width: 100%;
	max-width: 100%;
	max-height: 100%;
	position: fixed;
	background-color: red;
}

.mapScrollContainer {
	pointer-events: none;
	size: 100% 100%;
	max-height: 100%;
	max-width: 100%;
	position: relative;
}

.mapBackground {
	pointer-events: none;
	opacity: 100%;
	width: 100%;
	position: relative;
}