.mapBackgroundContainer {
	position: fixed;
	top: 0%;
	left: 0%;
	bottom: 0%;
	right: 0%;
	background-color: rgb(0, 0, 0);
	clip-path: fill-box;
}


.zoomPivotOffset {
	pointer-events: none;
	min-height: 100%;
	min-width: 100%;
	max-width: 100%;
	max-height: 100%;
	position: fixed;
	background-color: rgb(0, 0, 0);
}

.mapScrollContainer {
	pointer-events: none;
	size: 100% 100%;
	max-height: 100%;
	max-width: 100%;
	position: relative;
}

.mapBackground {
	pointer-events: none;
	width: 100%;
	position: relative;
}

.mapIcon{
	z-index: 10;
	pointer-events: all;
	position: absolute;
	left: 0px;
	top: 0px;
}