@import '../app.css';

@keyframes backgroundFade {
	from {
		backdrop-filter: brightness(0.8);
	}
	to {
		backdrop-filter: brightness(0.5);
	}
}

.campaignButtonParent {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-self: center;
}

.campaignSelectionBackground {
	background-image: url('/BGMap_blurred.jpg');
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.campaignSelection {
	width: 100%;
	height: 100%;
	display: flex;
	animation-name: backgroundFade;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	justify-content: center;
}
