<form class="nameFormComponent formComponent" [formGroup]="formGroup()">
	@if (label().length > 0) {
		<label for="nameFormInput">{{ label() }}:</label><br />
	}
	@if (editing()) {
		<div class="nameFormInput">
			<input
				[class]="getDisplayClass()"
				id="nameFormInput>"
				type="text"
				[formControlName]="controlName()"
				autofocus
			/>
			<img src="/icons/check_icon.png" class="iconButton" (click)="stopEditing()" />
		</div>
	} @else {
		<div class="nameFormInput">
			<div [class]="getDisplayClass()" (click)="startEditing()">{{ getValue() }}</div>
			@if (editMode()) {
				<img src="/icons/wrench_icon.png" class="iconButton" (click)="startEditing()" />
			}
		</div>
	}
</form>
