@import '../forms.css';

.nameFormContainer {
	display: flex;
	padding: 0.2rem;
	flex-direction: row;
	margin-top: 0.5em;
}

.header {
	font-weight: bold;
	font-size: x-large;
	text-align: center;
	flex-grow: 1;
}

.nameFormInput > * {
	align-self: center;
}

.nameFormInput > *:first-child {
	flex-grow: 1;
	overflow: hidden;
	text-overflow: ellipsis;
}

.nameFormDisplay {
	padding: 0.2rem;
}