<div class="statsForm nodePanel" [formGroup]="formGroup()" tabindex="0" (focus)="startEditing()">
	<div class="stat">
		<label for="hpStatInput" class="statLabel" type="text">HP:</label>
		@if (editing()) {
			<input id="hpStatInput" class="statInput" type="text" formControlName="hp" autofocus />
		} @else {
			<div class="statDisplay" (click)="startEditing()">
				{{ formGroup().get('hp')!.value }}
			</div>
		}
	</div>
	<div class="stat">
		<label for="acStatInput" class="statLabel" type="text">AC:</label>
		@if (editing()) {
			<input id="acStatInput" class="statInput" type="text" formControlName="ac" />
		} @else {
			<div class="statDisplay" (click)="startEditing()">
				{{ formGroup().get('ac')!.value }}
			</div>
		}
	</div>
	@for (stat of nodeOptions.stats; track stat) {
		<div class="stat">
			<label [for]="stat + 'statInput'" class="statLabel" type="text">{{ stat.toUpperCase() }}:</label>
			@if (editing()) {
				<input
					[id]="stat + 'statInput'"
					class="statInput"
					type="text"
					[formControlName]="stat"
				/>
			} @else {
				<div class="statDisplay" (click)="startEditing()">
					{{ formGroup().get(stat)!.value }}
				</div>
			}
			<div [class]="getStatBonusClass(formGroup().get(stat)!.value)">
				{{ getStatsBonus(formGroup().get(stat)!.value) }}
			</div>
		</div>
	}
</div>
