@import '../../node-view/node-view.css';

.statsForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3em;
}

.stat {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.statInput {
  padding: 2px;
  max-width: 2rem;
  text-align: center;
  border: 0;
  width: 2rem;
}

.statLabel {
  width: 4em;
  padding: 2px;
}

.statBonus {
  color: grey;
  margin-left: 0.5em;
  text-align: center;
}

.statBonus.positive {
  color: rgb(0, 197, 0);
}

.statBonus.negative {
  color: red;
}

.statDisplay {
  padding: 2px;
  cursor: pointer;
  width: 2rem;
  max-width: 2rem;
  text-align: center;
}
