@import '../forms.css';

.multilineForm{
	display: flex;
	flex-direction: row;
	max-width: 100%;
}

.multiLineFormLeft{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding-right: 1rem;
}

.multilineFormHeader > * {
	align-self: center;
}

.multilineFormInput {
	margin-top: 0.5rem;
	padding: 0.5rem;

}

.multilineFormDisplay {
	margin-top: 0.5rem;
	padding: 0.5rem;
	background-color: rgba(37, 40, 48, 0.37);
	white-space: pre-line;
	color: rgb(196, 196, 196);
}

