@if (editMode() || formGroup().controls[controlName()].value.length > 0) {
	<div [class]="standalone() ? 'nodePanel' : ''">
		<form class="multilineFormComponent formComponent" [formGroup]="formGroup()">
			<div class="multilineForm">
				<div class="multiLineFormLeft">
					@if (label().length > 0) {
						<label for="multilineFormInput">{{ label() }}:</label>
					}

					@if (editMode() || alwaysEdit()) {
						<textarea
							id="multilineFormInput"
							class="formInput multilineFormInput"
							[rows]="lines()"
							[cols]="cols()"
							[formControlName]="controlName()"
							(blur)="onChange.emit()"
						></textarea>
					} @else {
						<div
							class="multilineFormDisplay"
							tabindex="0"
						>
							{{ formGroup().controls[controlName()].value }}
						</div>
					}
				</div>
			</div>
		</form>
	</div>
}
