@import '../forms.css';

.multilineForm{
	display: flex;
	flex-direction: row;
	max-width: 100%;
}

.multiLineFormLeft{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding-right: 1rem;
}

.multilineFormHeader > * {
	align-self: center;
}

.multilineFormInput {
	white-space: pre-line;
	margin-top: 0.5em;
}

