@if (editMode() || formGroup().controls[controlName()].value.length > 0) {
	<div [class]="standalone() ? 'nodePanel' : ''">
		<form class="multilineFormComponent formComponent" [formGroup]="formGroup()">
			<div class="multilineForm">
				<div class="multiLineFormLeft">
					@if (label().length > 0) {
						<label for="multilineFormInput">{{ label() }}:</label>
					}

					@if (editing() || alwaysEdit()) {
						<textarea
							id="multilineFormInput"
							class="formInput multilineFormInput"
							[rows]="lines()"
							[cols]="cols()"
							[formControlName]="controlName()"
							autofocus
						></textarea>
					} @else {
						<div
							class="multilineFormDisplay"
							(click)="startEditing()"
							tabindex="0"
							(focus)="startEditing()"
						>
							{{ formGroup().controls[controlName()].value }}
						</div>
					}
				</div>
				@if (!alwaysEdit()) {
					@if (editing()) {
						<img
							src="/icons/check_icon.png"
							(click)="stopEditing()"
							class="iconButton"
						/>
					} @else {
						@if (editMode()) {
							<img
								src="/icons/wrench_icon.png"
								(click)="startEditing()"
								class="iconButton"
							/>
						}
					}
				}
			</div>
		</form>
	</div>
}
