@import '../forms.css';

.multilineFormHeader{
	display: flex;
	max-width: 100%;
}

.multilineFormHeader > *:first-child {
	overflow: hidden;
	text-overflow: ellipsis;
	flex-grow: 1;
}

.multilineFormHeader > * {
	align-self: center;
}

.multilineFormInput {
	white-space: pre-wrap;
	margin-top: 0.5em;
}

